/census_data
/counties
/mcd
failed-geocoding.csv
geocoded-healthcare-facilities.gpkg
healthcare-facilities-with-lat-lng.csv
NH_ProviderInfo_Oct2024.csv
Inpatient Healthcare Facilities in Massachusetts.csv
health-care-capacity-dashboard-10-16-2024_updated.xlsx
~$health-care-capacity-dashboard-10-16-2024_updated.xlsx
